<div class="add">
    
    <div class="box"> 
      <div>
          <button class="align" ><a href="mfe2">Continuer</a></button>
      </div>
           <form action="/submit" method="post">
      
          <input class="input1" type="text" id="nom" name="nom" required placeholder="Se connecter au 'Nom du workflow'">
          </form>
          <div class="box1">
              <button class="noeud" ><a href="#">Ajouter un noeud</a></button><br>
              <button class="noeud1" ><a href="#">start</a></button>
          </div>
  </div>
  </div>